<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=US-ASCII">
        <link rel="stylesheet" media = "screen" href="@routes.Assets.versioned("stylesheets/memory.css")">
        <title>Kochbuch</title>
        <script src="@routes.Assets.versioned("javascripts/memory.js")"></script>

    </head>

        <!------------- Memory: shows memory board with 16 memory tiles --------------->

    <body>

        <div id="memory_board"></div>
        <script>newBoard();</script>

    </body>
</html>